; AVISO colors - edit values here; shared colors apply everywhere they are used.
; Decimal BGR: red + green * 256 + blue * 65536.

; -----------------------------------------------------------------------------
; SHARED DEFAULTS
; -----------------------------------------------------------------------------
#define BACKGROUND_COLOR                                 5196355   ; #434A4F
#define TEXT_COLOR                                       13421772  ; #CCCCCC
#define TEXT_HALO_COLOR                                  0         ; #000000

; -----------------------------------------------------------------------------
; DARK PALETTE
; -----------------------------------------------------------------------------
#define DARK_LINE_LANDMARK6_STROKE                       6710886   ; #666666
#define DARK_LINE_PARKPOS_STROKE                         7232030   ; #1E5A6E
#define DARK_LINE_RUNWAYGRASS_STROKE                     7838341   ; #859A77
#define DARK_LINE_TAXIWAYBLUE_STROKE                     9851451   ; #3B5296
#define DARK_LINE_TAXIWAY_STROKE                         6904398   ; #4E5A69
#define DARK_POLYGON_BUILDING_FILL                       7361863   ; #475570
#define DARK_POLYGON_HARDSURFACE5_FILL                   1577745   ; #111318
#define DARK_POLYGON_LANDMARK2_FILL                      1114880   ; #000311
#define DARK_POLYGON_LANDMARK5_FILL                      35788     ; #CC8B00
#define DARK_POLYGON_STOPBAR_FILL_2                      2762591   ; #5F272A
#define DARK_POLYGON_TERRAIN2_FILL                       4798767   ; #2F3949
#define DARK_POLYGON_TERRAIN3_FILL                       3943714   ; #222D3C
#define DARK_POLYGON_TERRAIN4_FILL                       4270101   ; #152841
#define DARK_POLYGON_TERRAIN5_FILL                       1641729   ; #010D19
#define DARK_POLYGON_WATER_FILL                          5058859   ; #2B314D
#define DARK_VSMR_GROUPS_ACCENT                          3784148   ; #D4BD39

; -----------------------------------------------------------------------------
; LIGHT PALETTE
; -----------------------------------------------------------------------------
#define LIGHT_AIRSPACE_A                                 8421376   ; #008080
#define LIGHT_AO_RAPPROACH2                              33023     ; #FF8000
#define LIGHT_AO_RAPPROACH3                              4588945   ; #910546
#define LIGHT_AO_RCENTER1                                6579300   ; #646464
#define LIGHT_AO_RCENTER2                                8514      ; #422100
#define LIGHT_AO_RCENTER4                                4276545   ; #414141
#define LIGHT_AO_RDEPARTURE1                             32896     ; #808000
#define LIGHT_AO_RGROUND2                                32768     ; #008000
#define LIGHT_APP                                        16711680  ; #0000FF
#define LIGHT_BUILDING                                   4604985   ; #394446
#define LIGHT_CENTERLINES                                65535     ; #FFFF00
#define LIGHT_CLOSURE_AREA                               255       ; #FF0000
#define LIGHT_COASTLINE                                  8943708   ; #5C7888
#define LIGHT_DANGER_AREA                                4342359   ; #574242
#define LIGHT_GRAS_SURFACE                               3100928   ; #00512F
#define LIGHT_GRAS_SURFACE2                              3156512   ; #202A30
#define LIGHT_GRAS_SURFACE4                              2829085   ; #1D2B2B
#define LIGHT_HARD_SURFACE1                              9671574   ; #969393
#define LIGHT_HARD_SURFACE2                              5987929   ; #595E5B
#define LIGHT_HARD_SURFACE3                              8355978   ; #8A807F
#define LIGHT_HARD_SURFACE5                              6513507   ; #636363
#define LIGHT_LABELS                                     8421504   ; #808080
#define LIGHT_LANDMARK1                                  8289918   ; #7E7E7E
#define LIGHT_LINE_GROUND_LAYOUT_ARROWS_BROWN            2763429   ; #A52A2A
#define LIGHT_LINE_LANDMARK3                             4932276   ; #B4424B
#define LIGHT_LINE_LANDMARK6                             11776947  ; #B3B3B3
#define LIGHT_LINE_PARKPOS                               7040882   ; #726F6B
#define LIGHT_LINE_STOPBAR                               126       ; #7E0000
#define LIGHT_MRVA1                                      873576    ; #68540D
#define LIGHT_MRVA2                                      538436    ; #443708
#define LIGHT_PARK_POS                                   8388608   ; #000080
#define LIGHT_POLYGON_BUILDING2_2                        5460564   ; #545253
#define LIGHT_POLYGON_GRASSURFACE2                       3381555   ; #339933
#define LIGHT_POLYGON_GRASSURFACE3_2                     6782578   ; #727E67
#define LIGHT_POLYGON_HARDSURFACE5_2                     4144705   ; #413E3F
#define LIGHT_POLYGON_LANDMARK2                          2368032   ; #202224
#define LIGHT_POLYGON_STOPBAR_2                          526632    ; #280908
#define LIGHT_POLYGON_TERRAIN2                           6842988   ; #6C6A68
#define LIGHT_POLYGON_TERRAIN3                           2434344   ; #282525
#define LIGHT_POLYGON_TERRAIN4_2                         3156627   ; #932A30
#define LIGHT_RMZ                                        8388736   ; #800080
#define LIGHT_RUNWAY_CONCRETE                            5592405   ; #555555
#define LIGHT_STOPBAR                                    41164     ; #CCA000
#define LIGHT_TAXIWAY                                    3258048   ; #C0B631
#define LIGHT_TAXIWAY_GREY                               5263440   ; #505050
#define LIGHT_TAXIWAY_ORANGE                             28108     ; #CC6D00
#define LIGHT_TERRAIN1                                   12900     ; #643200
#define LIGHT_TEST                                       921102    ; #0E0E0E
#define LIGHT_TMZ                                        128       ; #800000
#define LIGHT_VECTORS                                    5135955   ; #535E4E
#define LIGHT_WATER                                      8404992   ; #004080

; -----------------------------------------------------------------------------
; AIRPORT-SPECIFIC REAL COLORS
; -----------------------------------------------------------------------------
#define REAL_LFML_LINE_HARDSURFACE5_STROKE               2500134   ; #262626
#define REAL_LFML_LINE_LANDMARK6_STROKE                  10921638  ; #A6A6A6
#define REAL_LFML_POLYGON_LANDMARK3_FILL                 4532769   ; #212A45
#define REAL_LFML_POLYGON_LANDMARK4_FILL                 2829090   ; #222B2B
#define REAL_LFML_POLYGON_LANDMARK5_FILL                 46003     ; #B3B300
#define REAL_LFML_POLYGON_TERRAIN5_FILL                  5405291   ; #6B7A52
#define REAL_LFML_POLYGON_TERRAIN6_FILL                  5460819   ; #535353
#define REAL_LFML_POLYGON_TERRAIN7_FILL                  5066061   ; #4D4D4D
#define REAL_LFML_POLYGON_TERRAIN8_FILL                  5855577   ; #595959
#define REAL_LFML_POLYGON_TERRAIN9_FILL                  2378664   ; #A84B24
#define REAL_LFMN_LINE_PARKPOS_STROKE                    11053224  ; #A8A8A8
#define REAL_LFMN_LINE_TAXIWAYGREY_STROKE                6838088   ; #485768
#define REAL_LFMN_POLYGON_BUILDING2_FILL                 3618615   ; #373737
#define REAL_LFMN_POLYGON_GRASSURFACE3_FILL              6055263   ; #5F655C
#define REAL_LFMN_POLYGON_LANDMARK2_FILL                 5724240   ; #505857
#define REAL_LFMN_POLYGON_TERRAIN2_FILL                  8816262   ; #868686
#define REAL_LFMN_POLYGON_TERRAIN3_FILL                  9737364   ; #949494
#define REAL_LFMN_POLYGON_WATER_FILL                     7885385   ; #495278
#define REAL_LFPG_BACKGROUND_COLOR                       7303023   ; #6F6F6F
#define REAL_LFPG_LINE_TAXIWAYBLUE_STROKE                1578008   ; #181418
#define REAL_LFPG_LINE_TAXIWAY_STROKE                    2763306   ; #2A2A2A
#define REAL_LFPG_POLYGON_GRASSURFACE_FILL               9147754   ; #6A958B
#define REAL_LFPG_POLYGON_HARDSURFACE2_FILL              4933706   ; #4A484B
#define REAL_LFPG_POLYGON_HARDSURFACE3_FILL              10329501  ; #9D9D9D
