#define COLOR_APP       16711680
#define COLOR_AirspaceA  8421376
#define COLOR_AirspaceB  8421376
#define COLOR_AirspaceC  8421376
#define COLOR_AirspaceD  8421376
#define COLOR_AirspaceE  8421376
#define COLOR_AirspaceF  8388736
#define COLOR_AirspaceG  8421376
#define COLOR_AoRapproach1 16711680
#define COLOR_AoRapproach2    33023
#define COLOR_AoRapproach3  4588945
#define COLOR_AoRapproach4  8289918
#define COLOR_AoRapproach5  8289918
#define COLOR_AoRcenter1  6579300
#define COLOR_AoRcenter2     8514
#define COLOR_AoRcenter3  8289918
#define COLOR_AoRcenter4  4276545
#define COLOR_AoRcenter5  8289918
#define COLOR_AoRdeparture1    32896
#define COLOR_AoRdeparture2  8289918
#define COLOR_AoRground1      128
#define COLOR_AoRground2    32768
#define COLOR_ApronSurface  8421504
#define COLOR_Building   4604985
#define COLOR_Building2  8421504
#define COLOR_Centerlines    65535
#define COLOR_ClosureArea      255
#define COLOR_Coastline  8943708
#define COLOR_DangerArea  4342359
#define COLOR_FIRBorder  8421504
#define COLOR_GrasSurface  3100928
#define COLOR_GrasSurface2  3156512
#define COLOR_GrasSurface3  3156512
#define COLOR_GrasSurface4  2829085
#define COLOR_HardSurface1  9671574
#define COLOR_HardSurface2  5987929
#define COLOR_HardSurface3  8355978
#define COLOR_HardSurface4  9671574
#define COLOR_HardSurface5  6513507
#define COLOR_HelipadSurface  8421504
#define COLOR_Holding        128
#define COLOR_Labels     8421504
#define COLOR_Landmark1  8289918
#define COLOR_Landmark2  8289918
#define COLOR_Landmark3  8289918
#define COLOR_Landmark4  8289918
#define COLOR_Landmark5  8289918
#define COLOR_Landmark6  8289918
#define COLOR_Landmark7  8289918
#define COLOR_MRVA1       873576
#define COLOR_MRVA2       538436
#define COLOR_ParkPos    8388608
#define COLOR_ParkPosUnused      128
#define COLOR_ProhibitedArea      126
#define COLOR_RMZ        8388736
#define COLOR_Releaseline    32768
#define COLOR_RestrictedArea      128
#define COLOR_RunwayBorder  8421504
#define COLOR_RunwayConcrete  5592405
#define COLOR_RunwayGrass    32768
#define COLOR_SID       16711680
#define COLOR_STAR      16711680
#define COLOR_Stopbar      41164
#define COLOR_TACAN-Route  8404992
#define COLOR_TEST        921102
#define COLOR_TMA              0
#define COLOR_TMZ            128
#define COLOR_TWR-CTR          0
#define COLOR_Taxiway    3258048
#define COLOR_TaxiwayBlue  8404992
#define COLOR_TaxiwayBorder 16711680
#define COLOR_TaxiwayGreen    32768
#define COLOR_TaxiwayGrey  5263440
#define COLOR_TaxiwayOrange    28108
#define COLOR_Terrain1     12900
#define COLOR_Terrain2     12900
#define COLOR_Terrain3     12900
#define COLOR_Terrain4     12900
#define COLOR_Terrain5     12900
#define COLOR_Terrain6     12900
#define COLOR_Terrain7     12900
#define COLOR_Terrain8     12900
#define COLOR_Terrain9     12900
#define COLOR_UpperSector     8514
#define COLOR_VFR-Route        0
#define COLOR_Vectors    5135955
#define COLOR_Water      8404992

; Additional Light palette colors used by the vSMR airport layouts
#define COLOR_vSMR_airport_reference_CCCCCC 13421772
#define COLOR_vSMR_label_engine_test_area_CCCCCC 13421772
#define COLOR_vSMR_label_gates_CCCCCC 13421772
#define COLOR_vSMR_label_taxiways_CCCCCC 13421772
#define COLOR_vSMR_label_terminaux_CCCCCC 13421772
#define COLOR_vSMR_label_text_label_labels_CCCCCC 13421772
#define COLOR_vSMR_label_tora_CCCCCC 13421772
#define COLOR_vSMR_label_tora_conf04_CCCCCC 13421772
#define COLOR_vSMR_label_tora_conf22_CCCCCC 13421772
#define COLOR_vSMR_line_apronmarking_646464_B3B3B3 11776947
#define COLOR_vSMR_line_ground_layout_arrows_brown_2A2AA5 2763429
#define COLOR_vSMR_line_ground_layout_arrows_centerline_00FFFF 65535
#define COLOR_vSMR_line_ground_layout_arrows_green_008000 32768
#define COLOR_vSMR_line_hardsurface5_262626_31B6C0 3258048
#define COLOR_vSMR_line_landmark3_b4424b_4B42B4 4932276
#define COLOR_vSMR_line_landmark6_a6a6a6_B3B3B3 11776947
#define COLOR_vSMR_line_parkpos_a8a8a8_6B6F72 7040882
#define COLOR_vSMR_line_runwaymarking_b3b3b3_B3B3B3 11776947
#define COLOR_vSMR_line_stopbar_7e0000_00007E 126
#define COLOR_vSMR_line_taxiwaypurple_800080_800080 8388736
#define COLOR_vSMR_line_twr_ctr_000000_000000 0
#define COLOR_vSMR_polygon_apronmarking_646464_B3B3B3 11776947
#define COLOR_vSMR_polygon_building2_373737_464439 4604985
#define COLOR_vSMR_polygon_building2_545253_535254 5460564
#define COLOR_vSMR_polygon_dangerarea_280908_080928 526632
#define COLOR_vSMR_polygon_grassurface2_339933_339933 3381555
#define COLOR_vSMR_polygon_grassurface3_5f655c_2F5100 3100928
#define COLOR_vSMR_polygon_grassurface3_727e67_677E72 6782578
#define COLOR_vSMR_polygon_hardsurface5_262626_555555 5592405
#define COLOR_vSMR_polygon_hardsurface5_413e3f_3F3E41 4144705
#define COLOR_vSMR_polygon_landmark2_505857_242220 2368032
#define COLOR_vSMR_polygon_landmark3_212a45_804000 8404992
#define COLOR_vSMR_polygon_landmark4_222b2b_242220 2368032
#define COLOR_vSMR_polygon_landmark5_b3b300_006DCC 28108
#define COLOR_vSMR_polygon_landmark6_a6a6a6_B3B3B3 11776947
#define COLOR_vSMR_polygon_othermarking_5f272a_080928 526632
#define COLOR_vSMR_polygon_parkpos_726f6b_6B6F72 7040882
#define COLOR_vSMR_polygon_parkpos_a8a8a8_6B6F72 7040882
#define COLOR_vSMR_polygon_runwaymarking_666666_B3B3B3 11776947
#define COLOR_vSMR_polygon_runwaymarking_b3b3b3_B3B3B3 11776947
#define COLOR_vSMR_polygon_stopbar_7e0000_00007E 126
#define COLOR_vSMR_polygon_stopbar_7e0000_080928 526632
#define COLOR_vSMR_polygon_terrain1_574242_424257 4342359
#define COLOR_vSMR_polygon_terrain2_6c6a68_686A6C 6842988
#define COLOR_vSMR_polygon_terrain2_868686_5B5E59 5987929
#define COLOR_vSMR_polygon_terrain3_282525_252528 2434344
#define COLOR_vSMR_polygon_terrain3_949494_7F808A 8355978
#define COLOR_vSMR_polygon_terrain4_868686_939396 9671574
#define COLOR_vSMR_polygon_terrain4_932a30_302A93 3156627
#define COLOR_vSMR_polygon_terrain5_6b7a52_2F5100 3100928
#define COLOR_vSMR_polygon_terrain6_535353_5B5E59 5987929
#define COLOR_vSMR_polygon_terrain7_4d4d4d_7F808A 8355978
#define COLOR_vSMR_polygon_terrain8_595959_939396 9671574
#define COLOR_vSMR_polygon_terrain9_a84b24_464439 4604985
#define COLOR_vSMR_runway_reference_CCCCCC 13421772
